div {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    border-radius: 100%;
    background-image: url("../pictures/Untitled-1aaaa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

img {
    width: 300px;
    border: 20px dotted green;
}

.tony1 {
    border: 20px double green;
}

.tony2 {
    border: 20px solid green;
}